:root {
  --colorBg: rgba(95, 73, 40, 0.397);
  --colorSh: rgba(48, 47, 47, 0.575);
  --color1: #142889;
  --color2: #070707;
  --color3: #fcf11f;
  --color4: rgb(77, 51, 3);
  --color5: rgb(253, 244, 236);
  --color6: rgb(150, 150, 150);
  --color7: rgb(255, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Open Sans", Verdana, sans-serif;
  background: url(./res/bckgrd.jpg) center/cover;
  text-align: center;
  height: 100vh;
}
header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin-top: 20px;
}
#imgIRSE {
  height: 100px;
  margin: auto;
  margin-right: -20px;
  display: grid;
}
#imgCFC {
  height: 100px;
  margin: auto;
  margin-left: -20px;
  display: grid;
}
h1 {
  display: grid;
  color: var(--color4);
  text-shadow: 5px 5px 4px var(--colorSh);
  max-width: 50vw;
  margin: auto;
  padding: 10px;
  text-align: center;
}
h3 {
  grid-area: h3;
  margin: auto;
  margin-bottom: 50px;
  color: var(--color1);
}
h5 {
  grid-area: h5;
  margin-top: 3px;
  margin-bottom: 50px;
  color: var(--color1);
}
h6 {
  font-size: 0.6rem;
  font-style: italic;
  color: var(--color2);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  text-align: right;
}
h7 {
  font-size: 0.8rem;
  font-style: normal;
  color: var(--color2);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  text-align: center;
}
label {
  height: 20px;
  color: var(--color2);
  font-size: 1rem;
  margin: auto;
}
main {
  background: var(--colorBg);
  width: 80%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2px;
  border-radius: 15px;
  box-shadow: 8px 8px 5px var(--colorSh);
  backdrop-filter: blur(2px); /*non fonctionnel sur Firefox */
}
input {
  width: 30%;
  min-width: 60px;
  height: 20px;
  border: none;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: 3px solid var(--color2);
  border-radius: 10px;
  width: 20%;
  min-width: 80px;
  height: 30px;
  margin-top: 1px;
  margin-bottom: 5px;
  background: var(--color3);
  cursor: pointer;
  transition: 0.4s;
}
#btnValider:hover {
  background: var(--color2);
  color: var(--color4);
  transform: scale(1.1);
}
#btnValider:active {
  background: var(--color4);
}
#box {
  border-radius: 20px;
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

/*-----------------------
Box Eléments de Calcul 
-------------------------*/
#boxEltsCalcul {
  border: 3px solid var(--color1);
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  min-height: 220px;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 10% 78% 12%;
  grid-template-areas:
    "h3 h3"
    "bLEC bDEC"
    "bBEC bBEC";
}
#boxLabelEltsCalcul {
  grid-area: bLEC;
  display: grid;
  grid-template-rows: auto;
  border: 1px dashed var(--color2);
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  min-height: 220px;
}
#boxDataEltsCalcul {
  grid-area: bDEC;
  display: grid;
  grid-template-rows: auto;
  border: 1px dashed var(--color2);
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  min-height: 220px;
}
#nbVoit {
  user-select: none;
  background: var(--color6);
}
#nbPass {
  user-select: none;
  background: var(--color6);
}
#prxKm {
  user-select: none;
  background: var(--color6);
}
#ctTots {
  user-select: none;
  background: var(--color6);
}
#ctTotv {
  border: 2px solid var(--color7);
  user-select: none;
  background: var(--color6);              
}
#ctBpp {
  user-select: none;
  background: var(--color6);
}
#ctRpp {
  user-select: none;
  background: var(--color6);  
}
#ctDep10E {
  user-select: none;
  background: var(--color6);

}
#boxBtnEltsCalcul {
  grid-area: bBEC;
  display: flex;
  justify-content: space-around;
  margin: 3px;
  padding: 5px;
}

/*--------------
 Box Résultat 
 ---------------*/
#boxResultat {
  border: 3px solid var(--color1);
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  min-height: 5px;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 20% 75% 5%;
  grid-template-areas:
    "h3 h3"
    "bLEC bDEC";
}
#boxLabelResultat {
  grid-area: bLEC;
  display: grid;
  grid-template-rows: auto;
  border: 1px dashed var(--color2);
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  min-height: 5px;
}
#boxDataResultat {
  grid-area: bDEC;
  display: grid;
  grid-template-rows: auto;
  border: 1px dashed var(--color2);
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  min-height: 5px;
}
#ctRetp {
  border: 2px solid var(--color7);
  font-weight: bold;
  user-select: none;
  background: var(--color3);
  color: rgb(0, 0, 0);
}
#ctRlc {
  border: 2px solid var(--color7);
  user-select: none;
  background: var(--color3);
  color: rgb(0, 0, 0);  

}
/* ----------
Responsive 
------------- */

@media screen and (max-width: 455px) {
  h1 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 0.7rem;
  }
  label {
    font-size: 0.8rem;
  }

  main {
    padding: 0px;
  }
  #boxEltsCalcul,
  #boxResultat,
  #boxLabelEltsCalcul,
  #boxDataEltsCalcul,
  #boxLabelResultat,
  #boxDataResultat {
    padding: 2px;
    min-height: 50px;
   
  }
  #imgIRSE,
  #imgCFC {
    height: 70px;
    width: 70px;
  }
}
